In [19]:
#!pip install db-sqlite3
import sqlite3

In [20]:
conn = sqlite3.connect('Exp2_bulk.db')
c = conn.cursor()
print("Opened database successfully");

Opened database successfully

In [21]:
conn.execute('''CREATE TABLE IF NOT EXISTS COMPANY
        (ID INT PRIMARY KEY NOT NULL,
        NAME TEXT NOT NULL,
        AGE INT NOT NULL,
        ADDRESS CHAR(50),
        SALARY REAL);''')
print("Table created successfully");

Table created successfully

In [22]:
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Paul', 32, 'California', 20000.00)");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Alien', 25, 'Texas', 15000.00)");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00)");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Mark', 25, 'Rich-Mond', 65000.00)");

conn.commit()
print ("Records created successfully");

Records created successfully

In [23]:
records = [(5, 'Rita', 21, 'Dallas', 35000.00),
           (6, 'Peter', 30, 'California', 45000.00),
           (7, 'Mike', 29, 'Kansas', 17000.00),
           (8, 'Michael', 23, 'Florida', 25000.00),
           (9, 'Riya', 34, 'New York', 28000.00),
           (10, 'Tom', 28, 'Phoenix', 30000.00)]

In [24]:
#Bulk Insertion
c.executemany('INSERT OR IGNORE INTO COMPANY VALUES(?,?,?,?,?);',records);

In [25]:
print('We have inserted', c.rowcount, 'records to the table COMPANY.')

We have inserted 6 records to the table COMPANY.

In [26]:
for row in conn.execute('select * from COMPANY'):
        print(row)

(1, 'Paul', 32, 'California', 20000.0)
(2, 'Alien', 25, 'Texas', 15000.0)
(3, 'Teddy', 23, 'Norway', 20000.0)
(4, 'Mark', 25, 'Rich-Mond', 65000.0)
(5, 'Rita', 21, 'Dallas', 35000.0)
(6, 'Peter', 30, 'California', 45000.0)
(7, 'Mike', 29, 'Kansas', 17000.0)
(8, 'Michael', 23, 'Florida', 25000.0)
(9, 'Riya', 34, 'New York', 28000.0)
(10, 'Tom', 28, 'Phoenix', 30000.0)

In [27]:
conn.commit()

In [28]:
conn.close()